@import "util/mixins";
@import "base/base";
@import "base/variables";
@import "base/typography";
@import "components/content";
@import "components/navbar";
@import "components/footer";
@import "components/post";
@import "components/post-card";
@import "pages/list";
@import "pages/single";
@import "pages/home";

.container {
  width: 100rem;
  margin: auto;
}

#header {
  color: $color-primary;
}

#socials {
  margin: 0.5rem;

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    padding: 0 0.75rem;
  }
}
