@import "variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  box-sizing: border-box; // https://www.w3schools.com/css/css3_box-sizing.asp
  max-width: $website-width;
  background: $color-background;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}
